In [253]:
import pandas as pd
import numpy as np
from datetime import datetime

# New York City Housing Values

    Certain New York neighborhoods have been experiencing a dramatic rise in prices.  Homes in Williamsburg, Park Slope, Long Island City and Astoria that were once worth under a million dollars have seen their values in some cases triple.  Can it be possible to attain a fair price for a home and could current trends be used to predict future prices?
    The City of New York tracks sales of all properties with prices, sale dates, address, zip codes and many other data points.  I will be using the spreadsheets for Queens and Brooklyn for the years 2003 and 2016.  Some neighborhoods in these boroughs, like Williamsburg and Long Island City, have become extremely desirable.

In [254]:
queens_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_03.csv', low_memory=False, parse_dates=True)
queens_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_16.csv', low_memory=False, parse_dates=True) 
brooklyn_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_16.csv', low_memory=False, parse_dates=True)
brooklyn_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_03.csv', low_memory=False, parse_dates=True)

In [255]:
#Get general lay out of all tables
print(queens_03.shape)
print(queens_16.shape)
print(brooklyn_03.shape)
print(brooklyn_16.shape)

(39177, 21)
(27214, 21)
(33706, 21)
(25519, 21)

In [256]:
queens_03.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,20,,A5,1920 81 STREET,,...,1,0,1,"1,800",1224,1945,1,A5,0,10/16/2003
1,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800",1224,1945,1,A5,318000,6/17/2003
2,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800",1224,1945,1,A5,100,5/6/2003
3,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,23,,A5,2136 81 STREET,,...,1,0,1,"1,800",1224,1950,1,A5,0,7/7/2003
4,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,33,,A5,2156 81 STREET,,...,1,0,1,"1,800",1224,1950,1,A5,370000,10/3/2003

Each row in the dataset is one sale of a home during the given year.  Each column is a variable for a given variable.  The most important variables for my analysis are sale price, sale date and neighborhood.

In [257]:
queens_03['SALE PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE PRICE, dtype: float64

### Problems With Column Names   
   When exploratory data analysis was tried was the column names in the 2016 datasets had problems.  All the column names had â€˜\nâ€™ added to the end of the column name.  While this is not necessarily a catastrophic development, it can be confusing when trying run analysis on multiple datasets.
    The spaces between the two words in the column names should be replaced with an underscore.  This will make it easier to confirm that the reader knows when the columns are being used.

In [258]:
queens_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [259]:
queens_16.columns=queens_16.columns.str.replace('\n', '')

In [260]:
queens_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [261]:
brooklyn_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [262]:
brooklyn_16.columns=brooklyn_16.columns.str.replace('\n', '')

In [263]:
brooklyn_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [264]:
queens_16.columns=queens_16.columns.str.replace(' ', '_')
queens_03.columns=queens_03.columns.str.replace(' ', '_')
brooklyn_16.columns=brooklyn_16.columns.str.replace(' ', '_')
brooklyn_03.columns=brooklyn_03.columns.str.replace(' ', '_')

In [265]:
queens_03.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [266]:
brooklyn_03.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [267]:
brooklyn_03.index

RangeIndex(start=0, stop=33706, step=1)

In [268]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 21 columns):
BOROUGH                           39177 non-null int64
NEIGHBORHOOD                      39177 non-null object
BUILDING_CLASS_CATEGORY           39177 non-null object
TAX_CLASS_AT_PRESENT              39177 non-null object
BLOCK                             39177 non-null int64
LOT                               39177 non-null int64
EASE-MENT                         39177 non-null object
BUILDING_CLASS_AT_PRESENT         39177 non-null object
ADDRESS                           39177 non-null object
APARTMENT_NUMBER                  39177 non-null object
ZIP_CODE                          39177 non-null int64
RESIDENTIAL_UNITS                 39177 non-null object
COMMERCIAL_UNITS                  39177 non-null int64
TOTAL_UNITS                       39177 non-null object
LAND_SQUARE_FEET                  39177 non-null object
GROSS_SQUARE_FEET                 39177 non-null int64
YEAR_BUILT                        39177 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         39177 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    39177 non-null object
SALE_PRICE                        39177 non-null int64
SALE_DATE                         39177 non-null object
dtypes: int64(9), object(12)
memory usage: 6.3+ MB

In [269]:
queens_03['SALE_PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE_PRICE, dtype: float64

### NaN Values

One of the most glaring problems was that the houses with no sale price are listed with â€˜0â€™.  This is a problem because this would drag the average sale price down artificially.  For each dataset, I ran the below code to replace all â€˜0â€™ in the Sale Price column with NaN values.

I also want to confirm that the Sale Price Columns are integers and not strings or objects, so I will recode them as such.

In [270]:
queens_03['SALE_PRICE_CLEAN']=queens_03['SALE_PRICE'].replace('0', np.nan).head()

In [271]:
queens_16['SALE_PRICE_CLEAN']=queens_16['SALE_PRICE'].replace('0', np.nan).head()

In [272]:
brooklyn_16['SALE_PRICE_CLEAN']=brooklyn_16['SALE_PRICE'].replace('0', np.nan).head()

In [273]:
brooklyn_03['SALE_PRICE_CLEAN']=brooklyn_03['SALE_PRICE'].replace('0', np.nan).head()

In [274]:
type(brooklyn_03['SALE_PRICE'])

pandas.core.series.Series

In [275]:
#Repeat the same steps for all tables
brooklyn_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33706 entries, 0 to 33705
Data columns (total 22 columns):
BOROUGH                           33706 non-null int64
NEIGHBORHOOD                      33706 non-null object
BUILDING_CLASS_CATEGORY           33706 non-null object
TAX_CLASS_AT_PRESENT              33706 non-null object
BLOCK                             33706 non-null int64
LOT                               33706 non-null int64
EASE-MENT                         33706 non-null object
BUILDING_CLASS_AT_PRESENT         33706 non-null object
ADDRESS                           33706 non-null object
APARTMENT_NUMBER                  33706 non-null object
ZIP_CODE                          33706 non-null int64
RESIDENTIAL_UNITS                 33706 non-null object
COMMERCIAL_UNITS                  33706 non-null int64
TOTAL_UNITS                       33706 non-null object
LAND_SQUARE_FEET                  33706 non-null object
GROSS_SQUARE_FEET                 33706 non-null float64
YEAR_BUILT                        33706 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         33706 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    33706 non-null object
SALE_PRICE                        33706 non-null int64
SALE_DATE                         33706 non-null object
SALE_PRICE_CLEAN                  1 non-null float64
dtypes: float64(2), int64(8), object(12)
memory usage: 5.7+ MB

In [276]:
print(brooklyn_03['SALE_PRICE_CLEAN'].head())

0         NaN
1    450000.0
2         NaN
3         NaN
4         NaN
Name: SALE_PRICE_CLEAN, dtype: float64

In [277]:
brooklyn_16['SALE_PRICE_CLEAN'].describe()

C:\Users\Ryan May\AppData\Local\Continuum\Anaconda3\lib\site-packages\numpy\lib\function_base.py:3834: RuntimeWarning: Invalid value encountered in percentile
  RuntimeWarning)

count         3.000000
mean     802333.333333
std       23115.651263
min      788000.000000
25%                NaN
50%                NaN
75%                NaN
max      829000.000000
Name: SALE_PRICE_CLEAN, dtype: float64

In [278]:
brooklyn_16['GROSS_SQUARE_FEET_C']=brooklyn_16['GROSS_SQUARE_FEET'].replace('0',np.nan).head()

In [279]:
queens_16['GROSS_SQUARE_FEET_C']=queens_16['GROSS_SQUARE_FEET'].replace('0',np.nan).head()

In [280]:
queens_16['GROSS_SQUARE_FEET'].replace('',np.nan).head()

0       0.0
1    1836.0
2    1224.0
3    1836.0
4    4300.0
Name: GROSS_SQUARE_FEET, dtype: float64

In [281]:
brooklyn_03['GROSS_SQUARE_FEET_C']=brooklyn_03['GROSS_SQUARE_FEET'].replace('0',np.nan).head()

In [282]:
queens_03['GROSS_SQUARE_FEET_C']=queens_03['GROSS_SQUARE_FEET'].replace('0',np.nan).head()

In [283]:
brooklyn_16['GROSS_SQUARE_FEET'].astype(int).head()
brooklyn_03['GROSS_SQUARE_FEET'].astype(int).head()
queens_16['GROSS_SQUARE_FEET'].astype(int).head()
queens_03['GROSS_SQUARE_FEET'].astype(int).head()

0    1224
1    1224
2    1224
3    1224
4    1224
Name: GROSS_SQUARE_FEET, dtype: int32

### Datetime
Instead of being uploaded as a date time object, the sale date column in all tables were coded as objects.  These columns must be coded as datetime objects and the index must be reset to follow the new date time object.

In [284]:
brooklyn_16['SALE_DATE'].astype(str).head()

0    5/25/2016
1     4/5/2016
2    10/6/2016
3    6/21/2016
4    3/31/2016
Name: SALE_DATE, dtype: object

In [285]:
brooklyn_03['SALE_DATE'].astype(str).head()

0     8/1/2003
1    1/24/2003
2    10/8/2003
3     4/2/2003
4     4/2/2003
Name: SALE_DATE, dtype: object

In [286]:
queens_16['SALE_DATE'].astype(str).head()

0     1/14/2016
1     7/26/2016
2    11/18/2016
3     6/13/2016
4     4/14/2016
Name: SALE_DATE, dtype: object

In [287]:
brooklyn_03['SALE_DATE']= pd.to_datetime(brooklyn_03['SALE_DATE'])

In [288]:
brooklyn_03['YEAR']=brooklyn_03['SALE_DATE'].dt.year

In [289]:
brooklyn_03['MONTH']=brooklyn_03['SALE_DATE'].dt.month

In [290]:
brooklyn_03['YEAR'].head()

0    2003
1    2003
2    2003
3    2003
4    2003
Name: YEAR, dtype: int64

In [291]:
queens_03['SALE_DATE']=pd.to_datetime(queens_03['SALE_DATE'])
queens_03['YEAR']=queens_03['SALE_DATE'].dt.year
queens_03['MONTH']=queens_03['SALE_DATE'].dt.month

In [292]:
queens_16['SALE_DATE']= pd.to_datetime(queens_16['SALE_DATE'])

In [293]:
queens_16['MONTH']=queens_16['SALE_DATE'].dt.month

In [294]:
queens_16['YEAR']=queens_16['SALE_DATE'].dt.year

In [295]:
brooklyn_16['SALE_DATE']=pd.to_datetime(brooklyn_16['SALE_DATE'])

In [296]:
brooklyn_16['MONTH']=brooklyn_16['SALE_DATE'].dt.month

In [297]:
brooklyn_16['YEAR']=brooklyn_16['SALE_DATE'].dt.year

In [298]:
queens_16.index=pd.to_datetime(queens_16['SALE_DATE'])

In [299]:
brooklyn_16.index=pd.to_datetime(brooklyn_16['SALE_DATE'])

In [300]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 25 columns):
BOROUGH                           39177 non-null int64
NEIGHBORHOOD                      39177 non-null object
BUILDING_CLASS_CATEGORY           39177 non-null object
TAX_CLASS_AT_PRESENT              39177 non-null object
BLOCK                             39177 non-null int64
LOT                               39177 non-null int64
EASE-MENT                         39177 non-null object
BUILDING_CLASS_AT_PRESENT         39177 non-null object
ADDRESS                           39177 non-null object
APARTMENT_NUMBER                  39177 non-null object
ZIP_CODE                          39177 non-null int64
RESIDENTIAL_UNITS                 39177 non-null object
COMMERCIAL_UNITS                  39177 non-null int64
TOTAL_UNITS                       39177 non-null object
LAND_SQUARE_FEET                  39177 non-null object
GROSS_SQUARE_FEET                 39177 non-null int64
YEAR_BUILT                        39177 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         39177 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    39177 non-null object
SALE_PRICE                        39177 non-null int64
SALE_DATE                         39177 non-null datetime64[ns]
SALE_PRICE_CLEAN                  3 non-null float64
GROSS_SQUARE_FEET_C               5 non-null float64
YEAR                              39177 non-null int64
MONTH                             39177 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(11), object(11)
memory usage: 7.5+ MB

### Neighborhood Recoding

Since the Neighborhood columns are coded as objects, the data cannot be sorted by neighborhood easily.  When the columns is recoded a categorical variable, the sales can be more easily sorted and analyzed.

In [304]:
queens_03['NEIGHBORHOOD_C']=queens_03['NEIGHBORHOOD'].astype('category').head()

In [305]:
queens_16['NEIGHBORHOOD_C']=queens_16['NEIGHBORHOOD'].astype('category').head()

In [303]:
brooklyn_16['NEIGHBORHOOD_C']=brooklyn_16['NEIGHBORHOOD'].astype('category').head()

In [306]:
brooklyn_03['NEIGHBORHOOD_C']=brooklyn_03['NEIGHBORHOOD'].astype('category').head()

Lastly, concatenating the two Queens and the two Brooklyn datasets will allow easier comparison between 2003 and 2016 in the same neighborhoods.  The concatenated datasets will be save to CSV files to enable further analysis

In [312]:
queens_clean=pd.merge(queens_03, queens_16)
brooklyn_clean=pd.merge(brooklyn_03, brooklyn_16)

In [314]:
queens_clean.to_csv('queens_clean.csv')
brooklyn_clean.to_csv('brooklyn_clean.csv')