In [52]:
import pandas as pd
import numpy as np

# New York City Housing Values

    Certain New York neighborhoods have been experiencing a dramatic rise in prices.  Homes in Williamsburg, Park Slope, Long Island City and Astoria that were once worth under a million dollars have seen their values in some cases triple.  Can it be possible to attain a fair price for a home and could current trends be used to predict future prices?
    The City of New York tracks sales of all properties with prices, sale dates, address, zip codes and many other data points.  I will be using the spreadsheets for Queens and Brooklyn for the years 2003 and 2016.  Some neighborhoods in these boroughs, like Williamsburg and Long Island City, have become extremely desirable.

In [3]:
queens_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_03.csv', low_memory=False, parse_dates=True)
queens_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_16.csv', low_memory=False, parse_dates=True) 
brooklyn_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_16.csv', low_memory=False, parse_dates=True)
brooklyn_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_03.csv', low_memory=False, parse_dates=True)

In [4]:
#Get general lay out of all tables
print(queens_03.shape)
print(queens_16.shape)
print(brooklyn_03.shape)
print(brooklyn_16.shape)

(39177, 21)
(27214, 21)
(33706, 21)
(25519, 21)

In [46]:
queens_03.head()

,BOROUGH,NEIGHBORHOOD,BUILDING_CLASS_CATEGORY,TAX_CLASS_AT_PRESENT,BLOCK,LOT,EASE-MENT,BUILDING_CLASS_AT_PRESENT,ADDRESS,APARTMENT_NUMBER,...,RESIDENTIAL_UNITS,COMMERCIAL_UNITS,TOTAL_UNITS,LAND_SQUARE_FEET,GROSS_SQUARE_FEET,YEAR_BUILT,TAX_CLASS_AT_TIME_OF_SALE,BUILDING_CLASS_AT_TIME_OF_SALE,SALE_PRICE,SALE_DATE
SALE_DATE,,,,,,,,,,,,,,,,,,,,,
2003-10-16,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,20,,A5,1920 81 STREET,,...,1,0,1,"1,800","1,224",1945,1,A5,0,2003-10-16
2003-06-17,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800","1,224",1945,1,A5,318000,2003-06-17
2003-05-06,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800","1,224",1945,1,A5,100,2003-05-06
2003-07-07,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,23,,A5,2136 81 STREET,,...,1,0,1,"1,800","1,224",1950,1,A5,0,2003-07-07
2003-10-03,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,33,,A5,2156 81 STREET,,...,1,0,1,"1,800","1,224",1950,1,A5,370000,2003-10-03

Each row in the dataset is one sale of a home during the given year.  Each column is a variable for a given variable.  The most important variables for my analysis are sale price, sale date and neighborhood.

In [6]:
queens_03['SALE PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE PRICE, dtype: float64

In [7]:
type(queens_03['SALE PRICE'])
queens_03['SALE PRICE'].astype(str).astype(int)
type(queens_03['SALE PRICE'])

pandas.core.series.Series

In [8]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 21 columns):
BOROUGH                           39177 non-null int64
NEIGHBORHOOD                      39177 non-null object
BUILDING CLASS CATEGORY           39177 non-null object
TAX CLASS AT PRESENT              39177 non-null object
BLOCK                             39177 non-null int64
LOT                               39177 non-null int64
EASE-MENT                         39177 non-null object
BUILDING CLASS AT PRESENT         39177 non-null object
ADDRESS                           39177 non-null object
APARTMENT NUMBER                  39177 non-null object
ZIP CODE                          39177 non-null int64
RESIDENTIAL UNITS                 39177 non-null object
COMMERCIAL UNITS                  39177 non-null int64
TOTAL UNITS                       39177 non-null object
LAND SQUARE FEET                  39177 non-null object
GROSS SQUARE FEET                 39177 non-null object
YEAR BUILT                        39177 non-null int64
TAX CLASS AT TIME OF SALE         39177 non-null int64
BUILDING CLASS AT TIME OF SALE    39177 non-null object
SALE PRICE                        39177 non-null int64
SALE DATE                         39177 non-null object
dtypes: int64(8), object(13)
memory usage: 6.3+ MB

In [9]:
queens_03['SALE PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE PRICE, dtype: float64

### NaN Values

One of the most glaring problems was that the houses with no sale price are listed with ‘0’.  This is a problem because this would drag the average sale price down artificially.  For each dataset, I ran the below code to replace all ‘0’ in the Sale Price column with NaN values.

I also want to confirm that the Sale Price Columns are integers and not strings or objects, so I will recode them as such.

In [10]:
queens_03['SALE PRICE'].replace('0', np.nan)

0              NaN
1         318000.0
2            100.0
3              NaN
4         370000.0
5              NaN
6         450000.0
7              NaN
8         605000.0
9         510000.0
10             NaN
11             NaN
12        167000.0
13        136890.0
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20        245843.0
21        245843.0
22        257266.0
23        257266.0
24        257266.0
25        160000.0
26         60000.0
27        350000.0
28        135000.0
29        233200.0
           ...
39147          NaN
39148          NaN
39149          NaN
39150          1.0
39151          NaN
39152          NaN
39153    1270000.0
39154          NaN
39155    1862000.0
39156     900000.0
39157     705000.0
39158          NaN
39159          NaN
39160          NaN
39161    2575000.0
39162     685000.0
39163          NaN
39164     120500.0
39165    1560000.0
39166    1560000.0
39167    1560000.0
39168          NaN
39169     170000.0
39170          NaN
39171     365000.0
39172     765000.0
39173          NaN
39174          NaN
39175          NaN
39176          NaN
Name: SALE PRICE, dtype: float64

In [11]:
type(brooklyn_03['SALE PRICE'])

pandas.core.series.Series

In [12]:
#Repeat the same steps for all tables
brooklyn_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33706 entries, 0 to 33705
Data columns (total 21 columns):
BOROUGH                           33706 non-null int64
NEIGHBORHOOD                      33706 non-null object
BUILDING CLASS CATEGORY           33706 non-null object
TAX CLASS AT PRESENT              33706 non-null object
BLOCK                             33706 non-null int64
LOT                               33706 non-null int64
EASE-MENT                         33706 non-null object
BUILDING CLASS AT PRESENT         33706 non-null object
ADDRESS                           33706 non-null object
APARTMENT NUMBER                  33706 non-null object
ZIP CODE                          33706 non-null int64
RESIDENTIAL UNITS                 33706 non-null object
COMMERCIAL UNITS                  33706 non-null int64
TOTAL UNITS                       33706 non-null object
LAND SQUARE FEET                  33706 non-null object
GROSS SQUARE FEET                 33706 non-null object
YEAR BUILT                        33706 non-null int64
TAX CLASS AT TIME OF SALE         33706 non-null int64
BUILDING CLASS AT TIME OF SALE    33706 non-null object
SALE PRICE                        33706 non-null int64
SALE DATE                         33706 non-null object
dtypes: int64(8), object(13)
memory usage: 5.4+ MB

In [13]:
print(brooklyn_03['SALE PRICE'].head())

0         0
1    450000
2         0
3         0
4         0
Name: SALE PRICE, dtype: int64

In [14]:
brooklyn_03['SALE PRICE'].replace('0', np.nan)

0              NaN
1         450000.0
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8         570000.0
9         320000.0
10        427500.0
11             NaN
12             NaN
13             NaN
14             NaN
15        355000.0
16             NaN
17             NaN
18       3307131.0
19             NaN
20             NaN
21        365000.0
22        775000.0
23        500000.0
24        385000.0
25        450000.0
26        405000.0
27        360000.0
28             NaN
29        407000.0
           ...
33676      28620.0
33677     300000.0
33678     715000.0
33679          NaN
33680     101524.0
33681     258000.0
33682          NaN
33683    4000000.0
33684    1085000.0
33685     330000.0
33686     585000.0
33687    1475000.0
33688     675000.0
33689          NaN
33690      33600.0
33691     425000.0
33692     425000.0
33693       5000.0
33694     300000.0
33695     490000.0
33696     102000.0
33697          NaN
33698     254400.0
33699          NaN
33700     192000.0
33701          NaN
33702     225000.0
33703     200000.0
33704     225000.0
33705     487500.0
Name: SALE PRICE, dtype: float64

In [15]:
brooklyn_03['SALE PRICE'].describe()

count    3.370600e+04
mean     2.563889e+05
std      6.683354e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.550000e+05
75%      3.680000e+05
max      5.928000e+07
Name: SALE PRICE, dtype: float64

In [16]:
queens_16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27214 entries, 0 to 27213
Data columns (total 21 columns):
BOROUGH
                           27214 non-null int64
NEIGHBORHOOD
                      27214 non-null object
BUILDING CLASS CATEGORY
           27214 non-null object
TAX CLASS AT PRESENT
              27214 non-null object
BLOCK
                             27214 non-null int64
LOT
                               27214 non-null int64
EASE-MENT
                         27214 non-null object
BUILDING CLASS AT PRESENT
         27214 non-null object
ADDRESS
                           27214 non-null object
APARTMENT NUMBER
                  27214 non-null object
ZIP CODE
                          27214 non-null int64
RESIDENTIAL UNITS
                 27214 non-null object
COMMERCIAL UNITS
                  27214 non-null object
TOTAL UNITS
                       27214 non-null object
LAND SQUARE FEET
                  27214 non-null object
GROSS SQUARE FEET
                 27214 non-null object
YEAR BUILT
                        27214 non-null int64
TAX CLASS AT TIME OF SALE
         27214 non-null int64
BUILDING CLASS AT TIME OF SALE
    27214 non-null object
SALE PRICE
                        27214 non-null object
SALE DATE
                         27214 non-null object
dtypes: int64(6), object(15)
memory usage: 4.4+ MB

### Problems With Column Names   
   When exploratory data analysis was tried was the column names in the 2016 datasets had problems.  All the column names had ‘\n’ added to the end of the column name.  While this is not necessarily a catastrophic development, it can be confusing when trying run analysis on multiple datasets.
    The spaces between the two words in the column names should be replaced with an underscore.  This will make it easier to confirm that the reader knows when the columns are being used.

In [17]:
queens_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [21]:
queens_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE', 'SALE DATE\n'],
      dtype='object')

In [22]:
queens_16.columns=queens_16.columns.str.replace('\n', '')

In [23]:
queens_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [24]:
brooklyn_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [25]:
brooklyn_16.columns=brooklyn_16.columns.str.replace('\n', '')

In [23]:
brooklyn_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [26]:
queens_16.columns=queens_16.columns.str.replace(' ', '_')
queens_03.columns=queens_03.columns.str.replace(' ', '_')
brooklyn_16.columns=brooklyn_16.columns.str.replace(' ', '_')
brooklyn_03.columns=brooklyn_03.columns.str.replace(' ', '_')

In [44]:
queens_03.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

### Datetime
Instead of being uploaded as a date time object, the sale date column in all tables were coded as objects.  These columns must be coded as datetime objects and the index must be reset to follow the new date time object.

In [30]:
queens_03['SALE_DATE']= pd.to_datetime(queens_03['SALE_DATE'])

In [31]:
brooklyn_03['SALE_DATE']= pd.to_datetime(brooklyn_03['SALE_DATE'])

In [32]:
queens_16['SALE_DATE']= pd.to_datetime(queens_16['SALE_DATE'])

In [33]:
brooklyn_16['SALE_DATE']=pd.to_datetime(brooklyn_16['SALE_DATE'])

In [34]:
queens_03.index=pd.to_datetime(queens_03['SALE_DATE'])

In [35]:
queens_16.index=pd.to_datetime(queens_16['SALE_DATE'])

In [36]:
brooklyn_03.index=pd.to_datetime(brooklyn_03['SALE_DATE'])

In [37]:
brooklyn_16.index=pd.to_datetime(brooklyn_16['SALE_DATE'])

In [45]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 39177 entries, 2003-10-16 to 2003-12-16
Data columns (total 21 columns):
BOROUGH                           39177 non-null int64
NEIGHBORHOOD                      39177 non-null object
BUILDING_CLASS_CATEGORY           39177 non-null object
TAX_CLASS_AT_PRESENT              39177 non-null object
BLOCK                             39177 non-null int64
LOT                               39177 non-null int64
EASE-MENT                         39177 non-null object
BUILDING_CLASS_AT_PRESENT         39177 non-null object
ADDRESS                           39177 non-null object
APARTMENT_NUMBER                  39177 non-null object
ZIP_CODE                          39177 non-null int64
RESIDENTIAL_UNITS                 39177 non-null object
COMMERCIAL_UNITS                  39177 non-null int64
TOTAL_UNITS                       39177 non-null object
LAND_SQUARE_FEET                  39177 non-null object
GROSS_SQUARE_FEET                 39177 non-null object
YEAR_BUILT                        39177 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         39177 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    39177 non-null object
SALE_PRICE                        39177 non-null int64
SALE_DATE                         39177 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(8), object(12)
memory usage: 6.6+ MB

In [42]:
queens_03.to_csv('queens_clean_03.csv')
queens_16.to_csv('queens_clean_16.csv')
brooklyn_03.to_csv('brooklyn_clean_03.csv')
brooklyn_16.to_csv('brooklyn_clean_16.csv')