## New York City Home Prices
    I will be working with my Capstone dataset, the New York Ciry home prices datasets.  These dataset will be able to display changes in prices over time easily.  The dramatic rise in prices in some neighborhoods may be able show one reason for gentrification.  Gentrification, or the process of a neighborhood transforming in a more affluent and desirable location, causes many of the neighborhoods' older, minority and poorer inhabitants to move out.  
    
    Perhaps any predictions on prices can help defend some New York City inhabitants from gentrification.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [60]:
pd.set_option('float_format', '{:f}'.format)

In [61]:
queens=pd.read_csv('queens_clean.csv', low_memory=False)
brooklyn=pd.read_csv('brooklyn_clean.csv', low_memory=False)

In [62]:
queens.shape

(66391, 22)

In [63]:
brooklyn.shape

(59225, 22)

In [64]:
pd.to_datetime(queens['SALE_DATE']).head()

0   2003-10-16
1   2003-06-17
2   2003-05-06
3   2003-07-07
4   2003-10-03
Name: SALE_DATE, dtype: datetime64[ns]

In [65]:
pd.to_datetime(brooklyn['SALE_DATE']).head()

0   2003-08-01
1   2003-01-24
2   2003-10-08
3   2003-04-02
4   2003-04-02
Name: SALE_DATE, dtype: datetime64[ns]

In [66]:
queens['NEIGHBORHOOD'].astype('category').head()
brooklyn['NEIGHBORHOOD'].astype('category').head()

0    BATH BEACH
1    BATH BEACH
2    BATH BEACH
3    BATH BEACH
4    BATH BEACH
Name: NEIGHBORHOOD, dtype: category
Categories (61, object): [BATH BEACH, BAY RIDGE, BEDFORD STUYVESANT, BENSONHURST, ..., WILLIAMSBURG-NORTH, WILLIAMSBURG-SOUTH, WINDSOR TERRACE, WYCKOFF HEIGHTS]

In [67]:
queens['SALE_PRICE'].astype('int').head()

0         0
1    318000
2       100
3         0
4    370000
Name: SALE_PRICE, dtype: int32

In [68]:
queens['SALE_PRICE'].replace('0', np.nan).head()

0             nan
1   318000.000000
2      100.000000
3             nan
4   370000.000000
Name: SALE_PRICE, dtype: float64

In [72]:
queens = queens[np.isfinite(queens['SALE_PRICE'])]

In [73]:
queens['SALE_PRICE'].describe()

count       66391.000000
mean       353798.856321
std       2129488.794829
min             0.000000
25%             0.000000
50%        200664.000000
75%        427000.000000
max     257500000.000000
Name: SALE_PRICE, dtype: float64

In [74]:
print(np.mean(queens['SALE_PRICE']))

353798.8563208869

In [75]:
print(np.mean(queens['SALE_PRICE'].loc['01/01/2003': '12/31/2003']))

199089.9924937448

In [76]:
print(np.mean(queens['SALE_PRICE'].loc['01/01/2016': '12/31/2016']))

199089.9924937448

In [9]:
queens['GROSS_SQUARE_FEET'].replace('0', np.nan).head()

0    1224.0
1    1224.0
2    1224.0
3    1224.0
4    1224.0
Name: GROSS_SQUARE_FEET, dtype: float64

In [34]:
queens['GROSS_SQUARE_FEET'].mean()

2420.743157958157

In [35]:
plt.scatter(queens['SALE_PRICE'], queens['GROSS_SQUARE_FEET'])
plt.xlabel('Sale Price')
plt.ylabel('Gross Sq. Feet')
plt.ticklabel_format(style='plain')
plt.show()