In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

# New York City Housing Values

    Certain New York neighborhoods have been experiencing a dramatic rise in prices.  Homes in Williamsburg, Park Slope, Long Island City and Astoria that were once worth under a million dollars have seen their values in some cases triple.  Can it be possible to attain a fair price for a home and could current trends be used to predict future prices?
    The City of New York tracks sales of all properties with prices, sale dates, address, zip codes and many other data points.  I will be using the spreadsheets for Queens and Brooklyn for the years 2003 and 2016.  Some neighborhoods in these boroughs, like Williamsburg and Long Island City, have become extremely desirable.

In [2]:
queens_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_03.csv', low_memory=False, parse_dates=True)
queens_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_16.csv', low_memory=False, parse_dates=True) 
brooklyn_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_16.csv', low_memory=False, parse_dates=True)
brooklyn_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_03.csv', low_memory=False, parse_dates=True)

In [3]:
#Get general lay out of all tables
print(queens_03.shape)
print(queens_16.shape)
print(brooklyn_03.shape)
print(brooklyn_16.shape)

(39177, 21)
(27214, 21)
(33706, 21)
(25519, 21)

In [4]:
queens_03.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,20,,A5,1920 81 STREET,,...,1,0,1,"1,800",1224,1945,1,A5,0,10/16/2003
1,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800",1224,1945,1,A5,318000,6/17/2003
2,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800",1224,1945,1,A5,100,5/6/2003
3,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,23,,A5,2136 81 STREET,,...,1,0,1,"1,800",1224,1950,1,A5,0,7/7/2003
4,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,33,,A5,2156 81 STREET,,...,1,0,1,"1,800",1224,1950,1,A5,370000,10/3/2003

Each row in the dataset is one sale of a home during the given year.  Each column is a variable for a given variable.  The most important variables for my analysis are sale price, sale date and neighborhood.

In [5]:
queens_03['SALE PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE PRICE, dtype: float64

### Problems With Column Names   
   When exploratory data analysis was tried was the column names in the 2016 datasets had problems.  All the column names had ‘\n’ added to the end of the column name.  While this is not necessarily a catastrophic development, it can be confusing when trying run analysis on multiple datasets.
    The spaces between the two words in the column names should be replaced with an underscore.  This will make it easier to confirm that the reader knows when the columns are being used.

In [6]:
queens_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [7]:
queens_16.columns=queens_16.columns.str.replace('\n', '')

In [8]:
queens_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [9]:
brooklyn_16.columns

Index(['BOROUGH\n', 'NEIGHBORHOOD\n', 'BUILDING CLASS CATEGORY\n',
       'TAX CLASS AT PRESENT\n', 'BLOCK\n', 'LOT\n', 'EASE-MENT\n',
       'BUILDING CLASS AT PRESENT\n', 'ADDRESS\n', 'APARTMENT NUMBER\n',
       'ZIP CODE\n', 'RESIDENTIAL UNITS\n', 'COMMERCIAL UNITS\n',
       'TOTAL UNITS\n', 'LAND SQUARE FEET\n', 'GROSS SQUARE FEET\n',
       'YEAR BUILT\n', 'TAX CLASS AT TIME OF SALE\n',
       'BUILDING CLASS AT TIME OF SALE\n', 'SALE PRICE\n', 'SALE DATE\n'],
      dtype='object')

In [10]:
brooklyn_16.columns=brooklyn_16.columns.str.replace('\n', '')

In [11]:
brooklyn_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING CLASS CATEGORY',
       'TAX CLASS AT PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING CLASS AT PRESENT', 'ADDRESS', 'APARTMENT NUMBER', 'ZIP CODE',
       'RESIDENTIAL UNITS', 'COMMERCIAL UNITS', 'TOTAL UNITS',
       'LAND SQUARE FEET', 'GROSS SQUARE FEET', 'YEAR BUILT',
       'TAX CLASS AT TIME OF SALE', 'BUILDING CLASS AT TIME OF SALE',
       'SALE PRICE', 'SALE DATE'],
      dtype='object')

In [12]:
queens_16.columns=queens_16.columns.str.replace(' ', '_')
queens_03.columns=queens_03.columns.str.replace(' ', '_')
brooklyn_16.columns=brooklyn_16.columns.str.replace(' ', '_')
brooklyn_03.columns=brooklyn_03.columns.str.replace(' ', '_')

In [13]:
brooklyn_03.columns=map(str.lower, brooklyn_03.columns)
brooklyn_16.columns=map(str.lower, brooklyn_16.columns)
queens_03.columns=map(str.lower, queens_03.columns)
queens_16.columns=map(str.lower, queens_16.columns)

In [14]:
queens_03.columns

Index(['borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

In [15]:
brooklyn_03.columns

Index(['borough', 'neighborhood', 'building_class_category',
       'tax_class_at_present', 'block', 'lot', 'ease-ment',
       'building_class_at_present', 'address', 'apartment_number', 'zip_code',
       'residential_units', 'commercial_units', 'total_units',
       'land_square_feet', 'gross_square_feet', 'year_built',
       'tax_class_at_time_of_sale', 'building_class_at_time_of_sale',
       'sale_price', 'sale_date'],
      dtype='object')

In [16]:
brooklyn_03.index

RangeIndex(start=0, stop=33706, step=1)

In [17]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 21 columns):
borough                           39177 non-null int64
neighborhood                      39177 non-null object
building_class_category           39177 non-null object
tax_class_at_present              39177 non-null object
block                             39177 non-null int64
lot                               39177 non-null int64
ease-ment                         39177 non-null object
building_class_at_present         39177 non-null object
address                           39177 non-null object
apartment_number                  39177 non-null object
zip_code                          39177 non-null int64
residential_units                 39177 non-null object
commercial_units                  39177 non-null int64
total_units                       39177 non-null object
land_square_feet                  39177 non-null object
gross_square_feet                 39177 non-null int64
year_built                        39177 non-null int64
tax_class_at_time_of_sale         39177 non-null int64
building_class_at_time_of_sale    39177 non-null object
sale_price                        39177 non-null int64
sale_date                         39177 non-null object
dtypes: int64(9), object(12)
memory usage: 6.3+ MB

In [18]:
queens_03['sale_price'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: sale_price, dtype: float64

### NaN Values

One of the most glaring problems was that the houses with no sale price are listed with ‘0’.  This is a problem because this would drag the average sale price down artificially.  For each dataset, I ran the below code to replace all ‘0’ in the Sale Price column with NaN values.

I also want to confirm that the Sale Price Columns are integers and not strings or objects, so I will recode them as such.

In [19]:
queens_03['sale_price_clean']=queens_03['sale_price'].replace('0', np.nan)

In [20]:
queens_16['sale_price_clean']=queens_16['sale_price'].replace('0', np.nan)

In [21]:
brooklyn_16['sale_price_clean']=brooklyn_16['sale_price'].replace('0', np.nan)

In [22]:
brooklyn_03['sale_price_clean']=brooklyn_03['sale_price'].replace('0', np.nan)

In [23]:
queens_16['commerical_units']=queens_16['commercial_units'].replace(' -   ', 0)

In [24]:
queens_03['commerical_units']=queens_03['commercial_units']

In [25]:
#Repeat the same steps for all tables
brooklyn_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33706 entries, 0 to 33705
Data columns (total 22 columns):
borough                           33706 non-null int64
neighborhood                      33706 non-null object
building_class_category           33706 non-null object
tax_class_at_present              33706 non-null object
block                             33706 non-null int64
lot                               33706 non-null int64
ease-ment                         33706 non-null object
building_class_at_present         33706 non-null object
address                           33706 non-null object
apartment_number                  33706 non-null object
zip_code                          33706 non-null int64
residential_units                 33706 non-null object
commercial_units                  33706 non-null int64
total_units                       33706 non-null object
land_square_feet                  33706 non-null object
gross_square_feet                 33706 non-null float64
year_built                        33706 non-null int64
tax_class_at_time_of_sale         33706 non-null int64
building_class_at_time_of_sale    33706 non-null object
sale_price                        33706 non-null int64
sale_date                         33706 non-null object
sale_price_clean                  20841 non-null float64
dtypes: float64(2), int64(8), object(12)
memory usage: 5.7+ MB

In [26]:
print(brooklyn_03['sale_price_clean'].head())

0         NaN
1    450000.0
2         NaN
3         NaN
4         NaN
Name: sale_price_clean, dtype: float64

In [27]:
brooklyn_16['gross_square_feet_c']=brooklyn_16['gross_square_feet'].replace('0',np.nan)

In [28]:
queens_16['gross_square_feet_c']=queens_16['gross_square_feet'].replace('0',np.nan)

In [29]:
brooklyn_03['gross_square_feet_c']=brooklyn_03['gross_square_feet'].replace('0',np.nan)

In [30]:
queens_03['gross_square_feet_c']=queens_03['gross_square_feet'].replace('0',np.nan)

In [31]:
queens_03['gross_square_feet_c'].head()

0    1224.0
1    1224.0
2    1224.0
3    1224.0
4    1224.0
Name: gross_square_feet_c, dtype: float64

### Datetime
Instead of being uploaded as a date time object, the sale date column in all tables were coded as objects.  These columns must be coded as datetime objects and the index must be reset to follow the new date time object.

In [32]:
brooklyn_16['sale_date'].astype(str)

0         5/25/2016
1          4/5/2016
2         10/6/2016
3         6/21/2016
4         3/31/2016
5        10/24/2016
6        10/31/2016
7          2/4/2016
8         2/10/2016
9          2/7/2016
10        7/11/2016
11        2/10/2016
12         2/3/2016
13        7/25/2016
14        2/23/2016
15        9/23/2016
16        5/13/2016
17        3/22/2016
18        3/22/2016
19         8/2/2016
20        9/20/2016
21        7/23/2016
22         8/1/2016
23        4/29/2016
24        4/15/2016
25        3/14/2016
26        7/20/2016
27        3/30/2016
28        10/6/2016
29        3/22/2016
            ...
25489      5/4/2016
25490      5/4/2016
25491    11/22/2016
25492    11/10/2016
25493     4/28/2016
25494     6/16/2016
25495     8/29/2016
25496    11/30/2016
25497     5/31/2016
25498     4/15/2016
25499     1/25/2016
25500     7/21/2016
25501      4/7/2016
25502      7/8/2016
25503     10/9/2016
25504     3/18/2016
25505    12/28/2016
25506      1/8/2016
25507     12/9/2016
25508     8/25/2016
25509    11/29/2016
25510    10/24/2016
25511     1/29/2016
25512     3/24/2016
25513     2/18/2016
25514     5/17/2016
25515     7/13/2016
25516      3/1/2016
25517      3/1/2016
25518     1/25/2016
Name: sale_date, dtype: object

In [33]:
brooklyn_03['sale_date'].astype(str)

0          8/1/2003
1         1/24/2003
2         10/8/2003
3          4/2/2003
4          4/2/2003
5          9/5/2003
6         5/12/2003
7         4/29/2003
8         1/24/2003
9         2/27/2003
10        6/17/2003
11         4/5/2003
12         4/5/2003
13         4/5/2003
14         4/5/2003
15        7/21/2003
16        5/27/2003
17        4/14/2003
18       11/20/2003
19        11/3/2003
20        8/29/2003
21        5/21/2003
22         4/9/2003
23        3/10/2003
24        9/24/2003
25        2/14/2003
26        9/11/2003
27        1/29/2003
28         5/7/2003
29         7/8/2003
            ...
33676     1/28/2003
33677      9/4/2003
33678      6/3/2003
33679    12/29/2003
33680    12/29/2003
33681     9/29/2003
33682     3/10/2003
33683     3/26/2003
33684     9/26/2003
33685     7/15/2003
33686     7/23/2003
33687     9/23/2003
33688     1/31/2003
33689    12/23/2003
33690     8/29/2003
33691     4/28/2003
33692     4/28/2003
33693     2/10/2003
33694    10/27/2003
33695    10/27/2003
33696      8/4/2003
33697    12/23/2003
33698     8/29/2003
33699    12/23/2003
33700     8/29/2003
33701    11/21/2003
33702    12/29/2003
33703     9/24/2003
33704    12/29/2003
33705     1/31/2003
Name: sale_date, dtype: object

In [34]:
queens_16['sale_date'].astype(str)

0         1/14/2016
1         7/26/2016
2        11/18/2016
3         6/13/2016
4         4/14/2016
5         8/15/2016
6         4/15/2016
7        11/15/2016
8         2/29/2016
9         8/18/2016
10       10/27/2016
11         2/8/2016
12         4/4/2016
13         5/4/2016
14        1/19/2016
15        9/22/2016
16        5/13/2016
17       10/14/2016
18         3/2/2016
19       12/12/2016
20        7/26/2016
21         2/2/2016
22         6/7/2016
23        12/9/2016
24        4/13/2016
25       11/17/2016
26       12/14/2016
27       10/28/2016
28        4/13/2016
29        8/31/2016
            ...
27184     3/24/2016
27185     3/24/2016
27186     3/24/2016
27187     3/24/2016
27188     3/24/2016
27189     3/24/2016
27190     3/24/2016
27191     3/24/2016
27192     3/24/2016
27193     3/24/2016
27194     3/24/2016
27195     3/24/2016
27196     3/24/2016
27197     3/24/2016
27198     3/24/2016
27199     3/24/2016
27200     3/24/2016
27201     3/24/2016
27202     3/24/2016
27203     3/24/2016
27204     3/24/2016
27205     3/24/2016
27206     3/24/2016
27207     3/24/2016
27208     3/24/2016
27209     3/24/2016
27210     3/24/2016
27211     3/24/2016
27212     3/24/2016
27213     3/24/2016
Name: sale_date, dtype: object

In [35]:
brooklyn_03['sale_date']= pd.to_datetime(brooklyn_03['sale_date'])

In [36]:
brooklyn_03['year']=brooklyn_03['sale_date'].dt.year

In [37]:
brooklyn_03['month']=brooklyn_03['sale_date'].dt.month

In [38]:
brooklyn_03['year'].head()

0    2003
1    2003
2    2003
3    2003
4    2003
Name: year, dtype: int64

In [39]:
queens_03['sale_date']=pd.to_datetime(queens_03['sale_date'])
queens_03['year']=queens_03['sale_date'].dt.year
queens_03['month']=queens_03['sale_date'].dt.month

In [40]:
queens_16['sale_date']= pd.to_datetime(queens_16['sale_date'])

In [41]:
queens_16['month']=queens_16['sale_date'].dt.month

In [42]:
queens_16['year']=queens_16['sale_date'].dt.year

In [43]:
brooklyn_16['sale_date']=pd.to_datetime(brooklyn_16['sale_date'])

In [44]:
brooklyn_16['month']=brooklyn_16['sale_date'].dt.month

In [45]:
brooklyn_16['year']=brooklyn_16['sale_date'].dt.year

In [46]:
queens_16.index=pd.to_datetime(queens_16['sale_date'])

In [47]:
brooklyn_16.index=pd.to_datetime(brooklyn_16['sale_date'])

In [48]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 26 columns):
borough                           39177 non-null int64
neighborhood                      39177 non-null object
building_class_category           39177 non-null object
tax_class_at_present              39177 non-null object
block                             39177 non-null int64
lot                               39177 non-null int64
ease-ment                         39177 non-null object
building_class_at_present         39177 non-null object
address                           39177 non-null object
apartment_number                  39177 non-null object
zip_code                          39177 non-null int64
residential_units                 39177 non-null object
commercial_units                  39177 non-null int64
total_units                       39177 non-null object
land_square_feet                  39177 non-null object
gross_square_feet                 39177 non-null int64
year_built                        39177 non-null int64
tax_class_at_time_of_sale         39177 non-null int64
building_class_at_time_of_sale    39177 non-null object
sale_price                        39177 non-null int64
sale_date                         39177 non-null datetime64[ns]
sale_price_clean                  25965 non-null float64
commerical_units                  39177 non-null int64
gross_square_feet_c               29725 non-null float64
year                              39177 non-null int64
month                             39177 non-null int64
dtypes: datetime64[ns](1), float64(2), int64(12), object(11)
memory usage: 7.8+ MB

Lastly, concatenating the two Queens and the two Brooklyn datasets will allow easier comparison between 2003 and 2016 in the same neighborhoods.  The concatenated datasets will be save to CSV files to enable further analysis

In [49]:
queens_clean=pd.concat([queens_03, queens_16], ignore_index=True)
brooklyn_clean=pd.concat([brooklyn_03, brooklyn_16], ignore_index=True)

In [50]:
queens_clean.to_csv('queens_clean.csv')
brooklyn_clean.to_csv('brooklyn_clean.csv')