In [1]:
import pandas as pd
import numpy as np

# New York City Housing Values

    Certain New York neighborhoods have been experiencing a dramatic rise in prices.  Homes in Williamsburg, Park Slope, Long Island City and Astoria that were once worth under a million dollars have seen their values in some cases triple.  Can it be possible to attain a fair price for a home and could current trends be used to predict future prices?
    The City of New York tracks sales of all properties with prices, sale dates, address, zip codes and many other data points.  I will be using the spreadsheets for Queens and Brooklyn for the years 2003 and 2016.  Some neighborhoods in these boroughs, like Williamsburg and Long Island City, have become extremely desirable.

In [2]:
queens_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_03.csv', low_memory=False, parse_dates=True)
queens_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\queens_sales_16.csv', low_memory=False, parse_dates=True) 
brooklyn_16 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_16.csv', low_memory=False, parse_dates=True)
brooklyn_03 = pd.read_csv('C:\\Users\\Ryan May\\Desktop\\Springboard\\brooklyn_sales_03.csv', low_memory=False, parse_dates=True)

In [3]:
#Get general lay out of all tables
print(queens_03.shape)
print(queens_16.shape)
print(brooklyn_03.shape)
print(brooklyn_16.shape)

(39177, 21)
(27214, 21)
(33706, 21)
(25519, 21)

In [4]:
queens_03.head()

,BOROUGH,NEIGHBORHOOD,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,BLOCK,LOT,EASE-MENT,BUILDING CLASS AT PRESENT,ADDRESS,APARTMENT NUMBER,...,RESIDENTIAL UNITS,COMMERCIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,BUILDING CLASS AT TIME OF SALE,SALE PRICE,SALE DATE
0,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,20,,A5,1920 81 STREET,,...,1,0,1,"1,800","1,224",1945,1,A5,0,10/16/2003
1,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800","1,224",1945,1,A5,318000,6/17/2003
2,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,949,47,,A5,1974 81 STREET,,...,1,0,1,"1,800","1,224",1945,1,A5,100,5/6/2003
3,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,23,,A5,2136 81 STREET,,...,1,0,1,"1,800","1,224",1950,1,A5,0,7/7/2003
4,4,AIRPORT LA GUARDIA,01 ONE FAMILY HOMES,1,976,33,,A5,2156 81 STREET,,...,1,0,1,"1,800","1,224",1950,1,A5,370000,10/3/2003

Each row in the dataset is one sale of a home during the given year.  Each column is a variable for a given variable.  The most important variables for my analysis are sale price, sale date and neighborhood.

In [5]:
queens_03['SALE PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE PRICE, dtype: float64

In [14]:
queens_03['SALE_PRICE'].astype(str).astype(int)
type(queens_03['SALE_PRICE'])

pandas.core.series.Series

In [15]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39177 entries, 0 to 39176
Data columns (total 21 columns):
BOROUGH                           39177 non-null int64
NEIGHBORHOOD                      39177 non-null object
BUILDING_CLASS_CATEGORY           39177 non-null object
TAX_CLASS_AT_PRESENT              39177 non-null object
BLOCK                             39177 non-null int64
LOT                               39177 non-null int64
EASE-MENT                         39177 non-null object
BUILDING_CLASS_AT_PRESENT         39177 non-null object
ADDRESS                           39177 non-null object
APARTMENT_NUMBER                  39177 non-null object
ZIP_CODE                          39177 non-null int64
RESIDENTIAL_UNITS                 39177 non-null object
COMMERCIAL_UNITS                  39177 non-null int64
TOTAL_UNITS                       39177 non-null object
LAND_SQUARE_FEET                  39177 non-null object
GROSS_SQUARE_FEET                 39177 non-null object
YEAR_BUILT                        39177 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         39177 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    39177 non-null object
SALE_PRICE                        39177 non-null int64
SALE_DATE                         39177 non-null object
dtypes: int64(8), object(13)
memory usage: 6.3+ MB

In [16]:
queens_03['SALE_PRICE'].describe()

count    3.917700e+04
mean     2.351176e+05
std      5.555295e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.609600e+05
75%      3.600000e+05
max      4.690000e+07
Name: SALE_PRICE, dtype: float64

### NaN Values

One of the most glaring problems was that the houses with no sale price are listed with â€˜0â€™.  This is a problem because this would drag the average sale price down artificially.  For each dataset, I ran the below code to replace all â€˜0â€™ in the Sale Price column with NaN values.

I also want to confirm that the Sale Price Columns are integers and not strings or objects, so I will recode them as such.

In [17]:
queens_03['SALE_PRICE'].replace('0', np.nan)

0              NaN
1         318000.0
2            100.0
3              NaN
4         370000.0
5              NaN
6         450000.0
7              NaN
8         605000.0
9         510000.0
10             NaN
11             NaN
12        167000.0
13        136890.0
14             NaN
15             NaN
16             NaN
17             NaN
18             NaN
19             NaN
20        245843.0
21        245843.0
22        257266.0
23        257266.0
24        257266.0
25        160000.0
26         60000.0
27        350000.0
28        135000.0
29        233200.0
           ...
39147          NaN
39148          NaN
39149          NaN
39150          1.0
39151          NaN
39152          NaN
39153    1270000.0
39154          NaN
39155    1862000.0
39156     900000.0
39157     705000.0
39158          NaN
39159          NaN
39160          NaN
39161    2575000.0
39162     685000.0
39163          NaN
39164     120500.0
39165    1560000.0
39166    1560000.0
39167    1560000.0
39168          NaN
39169     170000.0
39170          NaN
39171     365000.0
39172     765000.0
39173          NaN
39174          NaN
39175          NaN
39176          NaN
Name: SALE_PRICE, dtype: float64

In [18]:
queens_16['SALE_PRICE'].replace('0', np.nan)

0        7800000.0
1         660000.0
2         275500.0
3              NaN
4         940000.0
5              NaN
6         470000.0
7         329000.0
8         273710.0
9         310000.0
10        369046.0
11             NaN
12         46335.0
13        359000.0
14        289000.0
15        370000.0
16        107315.0
17        733140.0
18       1120075.0
19        300000.0
20        332000.0
21        420000.0
22             NaN
23        260000.0
24        229164.0
25        201820.0
26         55000.0
27        347000.0
28         56000.0
29        305000.0
           ...
27184          NaN
27185          NaN
27186          NaN
27187          NaN
27188          NaN
27189          NaN
27190          NaN
27191          NaN
27192          NaN
27193          NaN
27194          NaN
27195          NaN
27196          NaN
27197          NaN
27198          NaN
27199          NaN
27200          NaN
27201          NaN
27202          NaN
27203          NaN
27204          NaN
27205          NaN
27206          NaN
27207          NaN
27208    6600000.0
27209          NaN
27210          NaN
27211          NaN
27212          NaN
27213          NaN
Name: SALE_PRICE, dtype: float64

In [19]:
brooklyn_16['SALE_PRICE'].replace('0', np.nan)

0               NaN
1          829000.0
2               NaN
3          790000.0
4          788000.0
5         1090000.0
6               NaN
7          920000.0
8           40000.0
9               NaN
10         839000.0
11         854000.0
12              NaN
13         750000.0
14         699000.0
15         950000.0
16         699000.0
17        1050000.0
18         738000.0
19         680000.0
20         638000.0
21              NaN
22         880000.0
23         829000.0
24         880000.0
25         950000.0
26         930000.0
27              NaN
28              NaN
29              NaN
            ...
25489     1200000.0
25490           NaN
25491           NaN
25492           NaN
25493     1200000.0
25494           NaN
25495           NaN
25496      869000.0
25497      550000.0
25498      505000.0
25499      874676.0
25500     2300000.0
25501           NaN
25502           NaN
25503           NaN
25504           NaN
25505           NaN
25506           NaN
25507           NaN
25508           NaN
25509           NaN
25510           NaN
25511           NaN
25512           NaN
25513           NaN
25514     4300000.0
25515     4300000.0
25516           NaN
25517    10500000.0
25518           NaN
Name: SALE_PRICE, dtype: float64

In [20]:
type(brooklyn_03['SALE_PRICE'])

pandas.core.series.Series

In [21]:
#Repeat the same steps for all tables
brooklyn_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33706 entries, 0 to 33705
Data columns (total 21 columns):
BOROUGH                           33706 non-null int64
NEIGHBORHOOD                      33706 non-null object
BUILDING_CLASS_CATEGORY           33706 non-null object
TAX_CLASS_AT_PRESENT              33706 non-null object
BLOCK                             33706 non-null int64
LOT                               33706 non-null int64
EASE-MENT                         33706 non-null object
BUILDING_CLASS_AT_PRESENT         33706 non-null object
ADDRESS                           33706 non-null object
APARTMENT_NUMBER                  33706 non-null object
ZIP_CODE                          33706 non-null int64
RESIDENTIAL_UNITS                 33706 non-null object
COMMERCIAL_UNITS                  33706 non-null int64
TOTAL_UNITS                       33706 non-null object
LAND_SQUARE_FEET                  33706 non-null object
GROSS_SQUARE_FEET                 33706 non-null object
YEAR_BUILT                        33706 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         33706 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    33706 non-null object
SALE_PRICE                        33706 non-null int64
SALE_DATE                         33706 non-null object
dtypes: int64(8), object(13)
memory usage: 5.4+ MB

In [22]:
print(brooklyn_03['SALE_PRICE'].head())

0         0
1    450000
2         0
3         0
4         0
Name: SALE_PRICE, dtype: int64

In [23]:
brooklyn_03['SALE_PRICE'].replace('0', np.nan)

0              NaN
1         450000.0
2              NaN
3              NaN
4              NaN
5              NaN
6              NaN
7              NaN
8         570000.0
9         320000.0
10        427500.0
11             NaN
12             NaN
13             NaN
14             NaN
15        355000.0
16             NaN
17             NaN
18       3307131.0
19             NaN
20             NaN
21        365000.0
22        775000.0
23        500000.0
24        385000.0
25        450000.0
26        405000.0
27        360000.0
28             NaN
29        407000.0
           ...
33676      28620.0
33677     300000.0
33678     715000.0
33679          NaN
33680     101524.0
33681     258000.0
33682          NaN
33683    4000000.0
33684    1085000.0
33685     330000.0
33686     585000.0
33687    1475000.0
33688     675000.0
33689          NaN
33690      33600.0
33691     425000.0
33692     425000.0
33693       5000.0
33694     300000.0
33695     490000.0
33696     102000.0
33697          NaN
33698     254400.0
33699          NaN
33700     192000.0
33701          NaN
33702     225000.0
33703     200000.0
33704     225000.0
33705     487500.0
Name: SALE_PRICE, dtype: float64

In [24]:
brooklyn_03['SALE_PRICE'].describe()

count    3.370600e+04
mean     2.563889e+05
std      6.683354e+05
min      0.000000e+00
25%      0.000000e+00
50%      1.550000e+05
75%      3.680000e+05
max      5.928000e+07
Name: SALE_PRICE, dtype: float64

In [25]:
brooklyn_16['SALE_PRICE'].describe()

count    2.551900e+04
mean     7.854771e+05
std      4.457055e+06
min      0.000000e+00
25%      0.000000e+00
50%      3.269890e+05
75%      8.440645e+05
max      3.450000e+08
Name: SALE_PRICE, dtype: float64

In [26]:
print(brooklyn_16['SALE_PRICE'].head())

0         0
1    829000
2         0
3    790000
4    788000
Name: SALE_PRICE, dtype: int64

In [27]:
brooklyn_16['SALE_PRICE'].astype(int)
brooklyn_03['SALE_PRICE'].astype(int)
queens_16['SALE_PRICE'].astype(int)
queens_03['SALE_PRICE'].astype(int)

0              0
1         318000
2            100
3              0
4         370000
5              0
6         450000
7              0
8         605000
9         510000
10             0
11             0
12        167000
13        136890
14             0
15             0
16             0
17             0
18             0
19             0
20        245843
21        245843
22        257266
23        257266
24        257266
25        160000
26         60000
27        350000
28        135000
29        233200
          ...
39147          0
39148          0
39149          0
39150          1
39151          0
39152          0
39153    1270000
39154          0
39155    1862000
39156     900000
39157     705000
39158          0
39159          0
39160          0
39161    2575000
39162     685000
39163          0
39164     120500
39165    1560000
39166    1560000
39167    1560000
39168          0
39169     170000
39170          0
39171     365000
39172     765000
39173          0
39174          0
39175          0
39176          0
Name: SALE_PRICE, dtype: int32

In [28]:
brooklyn_16['SALE_PRICE'].replace('0', np.nan)

0               NaN
1          829000.0
2               NaN
3          790000.0
4          788000.0
5         1090000.0
6               NaN
7          920000.0
8           40000.0
9               NaN
10         839000.0
11         854000.0
12              NaN
13         750000.0
14         699000.0
15         950000.0
16         699000.0
17        1050000.0
18         738000.0
19         680000.0
20         638000.0
21              NaN
22         880000.0
23         829000.0
24         880000.0
25         950000.0
26         930000.0
27              NaN
28              NaN
29              NaN
            ...
25489     1200000.0
25490           NaN
25491           NaN
25492           NaN
25493     1200000.0
25494           NaN
25495           NaN
25496      869000.0
25497      550000.0
25498      505000.0
25499      874676.0
25500     2300000.0
25501           NaN
25502           NaN
25503           NaN
25504           NaN
25505           NaN
25506           NaN
25507           NaN
25508           NaN
25509           NaN
25510           NaN
25511           NaN
25512           NaN
25513           NaN
25514     4300000.0
25515     4300000.0
25516           NaN
25517    10500000.0
25518           NaN
Name: SALE_PRICE, dtype: float64

In [29]:
queens_16['SALE_PRICE'].replace('0', np.nan)

0        7800000.0
1         660000.0
2         275500.0
3              NaN
4         940000.0
5              NaN
6         470000.0
7         329000.0
8         273710.0
9         310000.0
10        369046.0
11             NaN
12         46335.0
13        359000.0
14        289000.0
15        370000.0
16        107315.0
17        733140.0
18       1120075.0
19        300000.0
20        332000.0
21        420000.0
22             NaN
23        260000.0
24        229164.0
25        201820.0
26         55000.0
27        347000.0
28         56000.0
29        305000.0
           ...
27184          NaN
27185          NaN
27186          NaN
27187          NaN
27188          NaN
27189          NaN
27190          NaN
27191          NaN
27192          NaN
27193          NaN
27194          NaN
27195          NaN
27196          NaN
27197          NaN
27198          NaN
27199          NaN
27200          NaN
27201          NaN
27202          NaN
27203          NaN
27204          NaN
27205          NaN
27206          NaN
27207          NaN
27208    6600000.0
27209          NaN
27210          NaN
27211          NaN
27212          NaN
27213          NaN
Name: SALE_PRICE, dtype: float64

### Problems With Column Names   
   When exploratory data analysis was tried was the column names in the 2016 datasets had problems.  All the column names had â€˜\nâ€™ added to the end of the column name.  While this is not necessarily a catastrophic development, it can be confusing when trying run analysis on multiple datasets.
    The spaces between the two words in the column names should be replaced with an underscore.  This will make it easier to confirm that the reader knows when the columns are being used.

In [30]:
queens_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [31]:
queens_16.columns=queens_16.columns.str.replace('\n', '')

In [32]:
queens_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [33]:
brooklyn_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [34]:
brooklyn_16.columns=brooklyn_16.columns.str.replace('\n', '')

In [35]:
brooklyn_16.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

In [36]:
queens_16.columns=queens_16.columns.str.replace(' ', '_')
queens_03.columns=queens_03.columns.str.replace(' ', '_')
brooklyn_16.columns=brooklyn_16.columns.str.replace(' ', '_')
brooklyn_03.columns=brooklyn_03.columns.str.replace(' ', '_')

In [37]:
queens_03.columns

Index(['BOROUGH', 'NEIGHBORHOOD', 'BUILDING_CLASS_CATEGORY',
       'TAX_CLASS_AT_PRESENT', 'BLOCK', 'LOT', 'EASE-MENT',
       'BUILDING_CLASS_AT_PRESENT', 'ADDRESS', 'APARTMENT_NUMBER', 'ZIP_CODE',
       'RESIDENTIAL_UNITS', 'COMMERCIAL_UNITS', 'TOTAL_UNITS',
       'LAND_SQUARE_FEET', 'GROSS_SQUARE_FEET', 'YEAR_BUILT',
       'TAX_CLASS_AT_TIME_OF_SALE', 'BUILDING_CLASS_AT_TIME_OF_SALE',
       'SALE_PRICE', 'SALE_DATE'],
      dtype='object')

### Datetime
Instead of being uploaded as a date time object, the sale date column in all tables were coded as objects.  These columns must be coded as datetime objects and the index must be reset to follow the new date time object.

In [38]:
queens_03['SALE_DATE']= pd.to_datetime(queens_03['SALE_DATE'])

In [39]:
brooklyn_03['SALE_DATE']= pd.to_datetime(brooklyn_03['SALE_DATE'])

In [40]:
queens_16['SALE_DATE']= pd.to_datetime(queens_16['SALE_DATE'])

In [41]:
brooklyn_16['SALE_DATE']=pd.to_datetime(brooklyn_16['SALE_DATE'])

In [42]:
queens_03.index=pd.to_datetime(queens_03['SALE_DATE'])

In [43]:
queens_16.index=pd.to_datetime(queens_16['SALE_DATE'])

In [44]:
brooklyn_03.index=pd.to_datetime(brooklyn_03['SALE_DATE'])

In [45]:
brooklyn_16.index=pd.to_datetime(brooklyn_16['SALE_DATE'])

In [46]:
queens_03.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 39177 entries, 2003-10-16 to 2003-12-16
Data columns (total 21 columns):
BOROUGH                           39177 non-null int64
NEIGHBORHOOD                      39177 non-null object
BUILDING_CLASS_CATEGORY           39177 non-null object
TAX_CLASS_AT_PRESENT              39177 non-null object
BLOCK                             39177 non-null int64
LOT                               39177 non-null int64
EASE-MENT                         39177 non-null object
BUILDING_CLASS_AT_PRESENT         39177 non-null object
ADDRESS                           39177 non-null object
APARTMENT_NUMBER                  39177 non-null object
ZIP_CODE                          39177 non-null int64
RESIDENTIAL_UNITS                 39177 non-null object
COMMERCIAL_UNITS                  39177 non-null int64
TOTAL_UNITS                       39177 non-null object
LAND_SQUARE_FEET                  39177 non-null object
GROSS_SQUARE_FEET                 39177 non-null object
YEAR_BUILT                        39177 non-null int64
TAX_CLASS_AT_TIME_OF_SALE         39177 non-null int64
BUILDING_CLASS_AT_TIME_OF_SALE    39177 non-null object
SALE_PRICE                        39177 non-null int64
SALE_DATE                         39177 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(8), object(12)
memory usage: 6.6+ MB

### Neighborhood Recoding

Since the Neighborhood columns are coded as objects, the data cannot be sorted by neighborhood easily.  When the columns is recoded a categorical variable, the sales can be more easily sorted and analyzed.

In [47]:
queens_03['NEIGHBORHOOD'].astype('category')

SALE_DATE
2003-10-16    AIRPORT LA GUARDIA
2003-06-17    AIRPORT LA GUARDIA
2003-05-06    AIRPORT LA GUARDIA
2003-07-07    AIRPORT LA GUARDIA
2003-10-03    AIRPORT LA GUARDIA
2003-12-25    AIRPORT LA GUARDIA
2003-06-30    AIRPORT LA GUARDIA
2003-12-22    AIRPORT LA GUARDIA
2003-12-30    AIRPORT LA GUARDIA
2003-01-28    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-12-10    AIRPORT LA GUARDIA
2003-05-21    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-02-27    AIRPORT LA GUARDIA
2003-02-13    AIRPORT LA GUARDIA
2003-10-10              ARVERNE
2003-10-10              ARVERNE
2003-10-31              ARVERNE
2003-10-10              ARVERNE
2003-09-23              ARVERNE
2003-01-10              ARVERNE
2003-11-14              ARVERNE
2003-12-16              ARVERNE
2003-03-06              ARVERNE
2003-11-20              ARVERNE
                     ...
2003-04-16              WOODSIDE
2003-05-09              WOODSIDE
2003-05-09              WOODSIDE
2003-05-09              WOODSIDE
2003-09-10              WOODSIDE
2003-11-19              WOODSIDE
2003-07-24              WOODSIDE
2003-07-30              WOODSIDE
2003-07-30              WOODSIDE
2003-01-23              WOODSIDE
2003-12-03              WOODSIDE
2003-11-04              WOODSIDE
2003-11-04              WOODSIDE
2003-07-28              WOODSIDE
2003-11-13              WOODSIDE
2003-01-21              WOODSIDE
2003-10-16              WOODSIDE
2003-07-09              WOODSIDE
2003-11-20              WOODSIDE
2003-11-20              WOODSIDE
2003-11-20              WOODSIDE
2003-05-14              WOODSIDE
2003-10-06              WOODSIDE
2003-03-31              WOODSIDE
2003-04-30              WOODSIDE
2003-04-04              WOODSIDE
2003-12-31              WOODSIDE
2003-05-14              WOODSIDE
2003-03-19              WOODSIDE
2003-12-16              WOODSIDE
Name: NEIGHBORHOOD, dtype: category
Categories (59, object): [AIRPORT LA GUARDIA, ARVERNE, ASTORIA, BAYSIDE, ..., SUNNYSIDE, WHITESTONE, WOODHAVEN, WOODSIDE]

In [48]:
queens_16['NEIGHBORHOOD'].astype('category')

SALE_DATE
2016-01-14           AIRPORT JFK
2016-07-26    AIRPORT LA GUARDIA
2016-11-18    AIRPORT LA GUARDIA
2016-06-13    AIRPORT LA GUARDIA
2016-04-14    AIRPORT LA GUARDIA
2016-08-15    AIRPORT LA GUARDIA
2016-04-15    AIRPORT LA GUARDIA
2016-11-15    AIRPORT LA GUARDIA
2016-02-29              ARVERNE
2016-08-18              ARVERNE
2016-10-27              ARVERNE
2016-02-08              ARVERNE
2016-04-04              ARVERNE
2016-05-04              ARVERNE
2016-01-19              ARVERNE
2016-09-22              ARVERNE
2016-05-13              ARVERNE
2016-10-14              ARVERNE
2016-03-02              ARVERNE
2016-12-12              ARVERNE
2016-07-26              ARVERNE
2016-02-02              ARVERNE
2016-06-07              ARVERNE
2016-12-09              ARVERNE
2016-04-13              ARVERNE
2016-11-17              ARVERNE
2016-12-14              ARVERNE
2016-10-28              ARVERNE
2016-04-13              ARVERNE
2016-08-31              ARVERNE
                     ...
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
2016-03-24              WOODSIDE
Name: NEIGHBORHOOD, dtype: category
Categories (61, object): [AIRPORT JFK, AIRPORT LA GUARDIA, ARVERNE, ASTORIA, ..., SUNNYSIDE, WHITESTONE, WOODHAVEN, WOODSIDE]

In [49]:
brooklyn_03['NEIGHBORHOOD'].astype('category')

SALE_DATE
2003-08-01         BATH BEACH
2003-01-24         BATH BEACH
2003-10-08         BATH BEACH
2003-04-02         BATH BEACH
2003-04-02         BATH BEACH
2003-09-05         BATH BEACH
2003-05-12         BATH BEACH
2003-04-29         BATH BEACH
2003-01-24         BATH BEACH
2003-02-27         BATH BEACH
2003-06-17         BATH BEACH
2003-04-05         BATH BEACH
2003-04-05         BATH BEACH
2003-04-05         BATH BEACH
2003-04-05         BATH BEACH
2003-07-21         BATH BEACH
2003-05-27         BATH BEACH
2003-04-14         BATH BEACH
2003-11-20         BATH BEACH
2003-11-03         BATH BEACH
2003-08-29         BATH BEACH
2003-05-21         BATH BEACH
2003-04-09         BATH BEACH
2003-03-10         BATH BEACH
2003-09-24         BATH BEACH
2003-02-14         BATH BEACH
2003-09-11         BATH BEACH
2003-01-29         BATH BEACH
2003-05-07         BATH BEACH
2003-07-08         BATH BEACH
                   ...
2003-01-28    WYCKOFF HEIGHTS
2003-09-04    WYCKOFF HEIGHTS
2003-06-03    WYCKOFF HEIGHTS
2003-12-29    WYCKOFF HEIGHTS
2003-12-29    WYCKOFF HEIGHTS
2003-09-29    WYCKOFF HEIGHTS
2003-03-10    WYCKOFF HEIGHTS
2003-03-26    WYCKOFF HEIGHTS
2003-09-26    WYCKOFF HEIGHTS
2003-07-15    WYCKOFF HEIGHTS
2003-07-23    WYCKOFF HEIGHTS
2003-09-23    WYCKOFF HEIGHTS
2003-01-31    WYCKOFF HEIGHTS
2003-12-23    WYCKOFF HEIGHTS
2003-08-29    WYCKOFF HEIGHTS
2003-04-28    WYCKOFF HEIGHTS
2003-04-28    WYCKOFF HEIGHTS
2003-02-10    WYCKOFF HEIGHTS
2003-10-27    WYCKOFF HEIGHTS
2003-10-27    WYCKOFF HEIGHTS
2003-08-04    WYCKOFF HEIGHTS
2003-12-23    WYCKOFF HEIGHTS
2003-08-29    WYCKOFF HEIGHTS
2003-12-23    WYCKOFF HEIGHTS
2003-08-29    WYCKOFF HEIGHTS
2003-11-21    WYCKOFF HEIGHTS
2003-12-29    WYCKOFF HEIGHTS
2003-09-24    WYCKOFF HEIGHTS
2003-12-29    WYCKOFF HEIGHTS
2003-01-31    WYCKOFF HEIGHTS
Name: NEIGHBORHOOD, dtype: category
Categories (61, object): [BATH BEACH, BAY RIDGE, BEDFORD STUYVESANT, BENSONHURST, ..., WILLIAMSBURG-NORTH, WILLIAMSBURG-SOUTH, WINDSOR TERRACE, WYCKOFF HEIGHTS]

In [50]:
brooklyn_16['NEIGHBORHOOD'].astype('category')

SALE_DATE
2016-05-25         BATH BEACH
2016-04-05         BATH BEACH
2016-10-06         BATH BEACH
2016-06-21         BATH BEACH
2016-03-31         BATH BEACH
2016-10-24         BATH BEACH
2016-10-31         BATH BEACH
2016-02-04         BATH BEACH
2016-02-10         BATH BEACH
2016-02-07         BATH BEACH
2016-07-11         BATH BEACH
2016-02-10         BATH BEACH
2016-02-03         BATH BEACH
2016-07-25         BATH BEACH
2016-02-23         BATH BEACH
2016-09-23         BATH BEACH
2016-05-13         BATH BEACH
2016-03-22         BATH BEACH
2016-03-22         BATH BEACH
2016-08-02         BATH BEACH
2016-09-20         BATH BEACH
2016-07-23         BATH BEACH
2016-08-01         BATH BEACH
2016-04-29         BATH BEACH
2016-04-15         BATH BEACH
2016-03-14         BATH BEACH
2016-07-20         BATH BEACH
2016-03-30         BATH BEACH
2016-10-06         BATH BEACH
2016-03-22         BATH BEACH
                   ...
2016-05-04    WYCKOFF HEIGHTS
2016-05-04    WYCKOFF HEIGHTS
2016-11-22    WYCKOFF HEIGHTS
2016-11-10    WYCKOFF HEIGHTS
2016-04-28    WYCKOFF HEIGHTS
2016-06-16    WYCKOFF HEIGHTS
2016-08-29    WYCKOFF HEIGHTS
2016-11-30    WYCKOFF HEIGHTS
2016-05-31    WYCKOFF HEIGHTS
2016-04-15    WYCKOFF HEIGHTS
2016-01-25    WYCKOFF HEIGHTS
2016-07-21    WYCKOFF HEIGHTS
2016-04-07    WYCKOFF HEIGHTS
2016-07-08    WYCKOFF HEIGHTS
2016-10-09    WYCKOFF HEIGHTS
2016-03-18    WYCKOFF HEIGHTS
2016-12-28    WYCKOFF HEIGHTS
2016-01-08    WYCKOFF HEIGHTS
2016-12-09    WYCKOFF HEIGHTS
2016-08-25    WYCKOFF HEIGHTS
2016-11-29    WYCKOFF HEIGHTS
2016-10-24    WYCKOFF HEIGHTS
2016-01-29    WYCKOFF HEIGHTS
2016-03-24    WYCKOFF HEIGHTS
2016-02-18    WYCKOFF HEIGHTS
2016-05-17    WYCKOFF HEIGHTS
2016-07-13    WYCKOFF HEIGHTS
2016-03-01    WYCKOFF HEIGHTS
2016-03-01    WYCKOFF HEIGHTS
2016-01-25    WYCKOFF HEIGHTS
Name: NEIGHBORHOOD, dtype: category
Categories (60, object): [BATH BEACH, BAY RIDGE, BEDFORD STUYVESANT, BENSONHURST, ..., WILLIAMSBURG-NORTH, WILLIAMSBURG-SOUTH, WINDSOR TERRACE, WYCKOFF HEIGHTS]

Lastly, concatenating the two Queens and the two Brooklyn datasets will allow easier comparison between 2003 and 2016 in the same neighborhoods.  The concatenated datasets will be save to CSV files to enable further analysis

In [53]:
queens=pd.concat([queens_03, queens_16])
brooklyn=pd.concat([brooklyn_03,brooklyn_16])

In [54]:
queens.to_csv('queens_clean.csv')
brooklyn.to_csv('brooklyn_clean.csv')