In [1]:
%matplotlib inline
import numpy as np
#import scipy as sp
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
brooklyn=pd.read_csv('brooklyn.csv', low_memory=False)
queens=pd.read_csv('queens.csv', low_memory=False)
brooklyn_homes=pd.read_csv('brooklyn_homes.csv')
queens_homes=pd.read_csv('queens_homes.csv')
queens_low_val=pd.read_csv('queens_low_val.csv')
brooklyn_low_val=pd.read_csv('brooklyn_low_val.csv')
queens=queens.dropna()
brooklyn=brooklyn.dropna()
queens=queens.replace(' -   ','')
queens=queens.replace(' -   ','')

## Logistic Regression

In [3]:
Xqlr, Xqtestlr, yqlr, yqtestlr=train_test_split(queens[['sale_price_clean','year']].values, queens['neighborhood'].values, random_state=5)

In [4]:
clf=LogisticRegression()
clf.fit(Xqlr, yqlr)
print('Accuracy Score For Queens:', accuracy_score(clf.predict(Xqtestlr), yqtestlr))

Accuracy Score For Queens: 0.08261168384879725

This classification model is only 8.26% accurate in predicting the neighborhood in which a sale took place.

In [46]:
Xqhlr, Xqhtestlr, yqhlr, yqhtestlr=train_test_split(queens_homes[['sale_price_clean','year']].values, queens_homes['neighborhood'].values, random_state=5)

In [48]:
clf.fit(Xqhlr, yqhlr)
print('Accuracy Score For Queens Homes:', accuracy_score(clf.predict(Xqhtestlr), yqhtestlr))

Accuracy Score For Queens Homes: 0.11043753294675804

The model is marginally better at 11.043% correct for homes sold in Queens

In [5]:
Xblr, Xbtestlr, yblr, ybtestlr=train_test_split(brooklyn[['sale_price_clean','year']].values, brooklyn['neighborhood'].values, random_state=5)

In [6]:
clf.fit(Xblr, yblr)
print('Accuracy Score for Brooklyn:', accuracy_score(clf.predict(Xbtestlr), ybtestlr))

Accuracy Score for Brooklyn: 0.09866848753840901

The accuracy score for Brooklyn is marginally better at 9.86% but that is still not acceptable.  Perhaps a model to predict the class of building sold could be more accurate

In [49]:
Xbhlr, Xbhtestlr, ybhlr, ybhtestlr=train_test_split(brooklyn_homes[['sale_price_clean','year']].values, brooklyn_homes['neighborhood'].values, random_state=5)

In [50]:
clf.fit(Xbhlr, ybhlr)
print('Accuracy Score For Brooklyn Homes:', accuracy_score(clf.predict(Xbhtestlr), ybhtestlr))

Accuracy Score For Brooklyn Homes: 0.10437956204379562

Again, the model is better for homes than the whole borough, but 10.43% is not acceptable.

In [7]:
Xqlr2, Xqtestlr2, yqlr2, yqtestlr2=train_test_split(queens[['sale_price_clean','year']].values, queens['building_class_category'].values, random_state=5)

In [8]:
clf.fit(Xqlr2, yqlr2)
print('Accuracy Score for Queens Building Category:', accuracy_score(clf.predict(Xqtestlr), yqtestlr2))

Accuracy Score for Queens Building Category: 0.518487972508591

Although the score is much improved from the Neighborhood model (51.84% correct), it is still almost a 50-50 chance of getting the building category correct.

In [9]:
Xblr2, Xbtestlr2, yblr2, ybtestlr2=train_test_split(brooklyn[['sale_price_clean','year']].values, brooklyn['building_class_category'].values, random_state=5)

In [10]:
clf.fit(Xblr2, yblr2)
print('Accuracy Score for Brooklyn Building Category:', accuracy_score(clf.predict(Xbtestlr), ybtestlr2))

Accuracy Score for Brooklyn Building Category: 0.4204506657562308

The accuracy score for Brooklyn shows that the model is not as good at predicting building categories in Brooklyn, as it is in Queens.  42.04% is not a good accuracy score but it is better than 9.86% accuracy score for predicting Neighborhoods in Brooklyn.

In [11]:
Xqlr3, Xqtestlr3, yqlr3, yqtestlr3=train_test_split(queens[['sale_price_clean','gross_square_feet_c']].values, queens['year'].values, random_state=5)

In [12]:
clf.fit(Xqlr3, yqlr3)
print('Accuracy Score for Year of Sale In Queens:', accuracy_score(clf.predict(Xqtestlr3), yqtestlr3))

Accuracy Score for Year of Sale In Queens: 0.7499656357388316

In [13]:
Xblr3, Xbtestlr3, yblr3, ybtestlr3=train_test_split(brooklyn[['sale_price_clean','gross_square_feet_c']].values, brooklyn['year'].values, random_state=5)

In [14]:
clf.fit(Xblr3, yblr3)
print('Accuracy Score for Accuracy Score for Year of Sale In Brooklyn:', accuracy_score(clf.predict(Xbtestlr3), ybtestlr3))

Accuracy Score for Accuracy Score for Year of Sale In Brooklyn: 0.7606691703653123

The model is much better at predicting the year a sale took place in.  The year of a sale was correctly predicted at around 75% for both boroughs.

## Linear Regression

In [15]:
from statsmodels.formula.api import ols

In [16]:
import statsmodels.api as sm

C:\Users\Ryan May\Anaconda3\lib\site-packages\statsmodels\compat\pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [17]:
mq=ols('sale_price_clean~gross_square_feet', queens).fit()
print(mq.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       sale_price_clean   R-squared:                       0.044
Model:                            OLS   Adj. R-squared:                  0.044
Method:                 Least Squares   F-statistic:                     1342.
Date:                Thu, 17 May 2018   Prob (F-statistic):          3.35e-287
Time:                        17:14:40   Log-Likelihood:            -4.7328e+05
No. Observations:               29099   AIC:                         9.466e+05
Df Residuals:                   29097   BIC:                         9.466e+05
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept          5.707e+05   1.65e+04     34.584      0.000    5.38e+05    6.03e+05
gross_square_feet    17.1496      0.468     36.629      0.000      16.232      18.067
==============================================================================
Omnibus:                    89247.982   Durbin-Watson:                   1.586
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      12609858703.597
Skew:                          46.504   Prob(JB):                         0.00
Kurtosis:                    3226.599   Cond. No.                     3.54e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 3.54e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

Above is the linear regression table for the sale price and the gross square feet of sales in Queens.  The coefficent of 17.1496 means that for each additional square foot generates and additional $17.1496 value on the property.

In [18]:
mb=ols('sale_price_clean~gross_square_feet', brooklyn).fit()
print(mb.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:       sale_price_clean   R-squared:                       0.147
Model:                            OLS   Adj. R-squared:                  0.147
Method:                 Least Squares   F-statistic:                     4051.
Date:                Thu, 17 May 2018   Prob (F-statistic):               0.00
Time:                        17:14:40   Log-Likelihood:            -3.8562e+05
No. Observations:               23431   AIC:                         7.712e+05
Df Residuals:                   23429   BIC:                         7.713e+05
Df Model:                           1
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept          4.582e+05   2.31e+04     19.842      0.000    4.13e+05    5.03e+05
gross_square_feet    99.4183      1.562     63.650      0.000      96.357     102.480
==============================================================================
Omnibus:                    69882.739   Durbin-Watson:                   1.594
Prob(Omnibus):                  0.000   Jarque-Bera (JB):      10759141369.215
Skew:                          42.808   Prob(JB):                         0.00
Kurtosis:                    3321.597   Cond. No.                     1.54e+04
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.54e+04. This might indicate that there are
strong multicollinearity or other numerical problems.

The coeffiencient for Brooklyn is quite higher at $99.4183, meaning that an additional square foot in Brooklyn is worth 5.79 times more than an additional square foot in Queens.

In [19]:
from sklearn.linear_model import LinearRegression

In [45]:
queens['n_dummies']=pd.get_dummies(queens['neighborhood'])

ValueError: Wrong number of items passed 59, placement implies 1

In [23]:
pd.get_dummies(queens)

,Unnamed: 0,Unnamed: 0.1,block,borough,gross_square_feet,gross_square_feet_c,lot,month,sale_price,sale_price_clean,...,total_units_80,total_units_81,total_units_84,total_units_86,total_units_88,total_units_89,total_units_9,total_units_90,total_units_91,total_units_96
1,1,1,949,4,1224,1224.0,47,6,318000,318000.0,...,0,0,0,0,0,0,0,0,0,0
2,2,2,949,4,1224,1224.0,47,5,100,100.0,...,0,0,0,0,0,0,0,0,0,0
4,4,4,976,4,1224,1224.0,33,10,370000,370000.0,...,0,0,0,0,0,0,0,0,0,0
6,6,6,976,4,1836,1836.0,67,6,450000,450000.0,...,0,0,0,0,0,0,0,0,0,0
8,8,8,949,4,2835,2835.0,56,12,605000,605000.0,...,0,0,0,0,0,0,0,0,0,0
9,9,9,949,4,2635,2635.0,58,1,510000,510000.0,...,0,0,0,0,0,0,0,0,0,0
20,20,20,15828,4,1200,1200.0,52,10,245843,245843.0,...,0,0,0,0,0,0,0,0,0,0
21,21,21,15828,4,1200,1200.0,53,10,245843,245843.0,...,0,0,0,0,0,0,0,0,0,0
22,22,22,15829,4,1650,1650.0,47,10,257266,257266.0,...,0,0,0,0,0,0,0,0,0,0
23,23,23,15829,4,1650,1650.0,49,10,257266,257266.0,...,0,0,0,0,0,0,0,0,0,0
24,24,24,15829,4,1650,1650.0,51,9,257266,257266.0,...,0,0,0,0,0,0,0,0,0,0
25,25,25,15830,4,480,480.0,60,1,160000,160000.0,...,0,0,0,0,0,0,0,0,0,0
26,26,26,15830,4,608,608.0,61,11,60000,60000.0,...,0,0,0,0,0,0,0,0,0,0
27,27,27,15834,4,1644,1644.0,16,12,350000,350000.0,...,0,0,0,0,0,0,0,0,0,0
28,28,28,15835,4,2010,2010.0,25,3,135000,135000.0,...,0,0,0,0,0,0,0,0,0,0
29,29,29,15835,4,2490,2490.0,65,11,233200,233200.0,...,0,0,0,0,0,0,0,0,0,0
32,32,32,15838,4,926,926.0,45,7,125000,125000.0,...,0,0,0,0,0,0,0,0,0,0
35,35,35,15850,4,885,885.0,28,7,80000,80000.0,...,0,0,0,0,0,0,0,0,0,0
36,36,36,15850,4,450,450.0,31,5,155000,155000.0,...,0,0,0,0,0,0,0,0,0,0
38,38,38,15850,4,450,450.0,31,2,77000,77000.0,...,0,0,0,0,0,0,0,0,0,0
39,39,39,15850,4,450,450.0,31,2,169985,169985.0,...,0,0,0,0,0,0,0,0,0,0
40,40,40,15890,4,2136,2136.0,17,6,235000,235000.0,...,0,0,0,0,0,0,0,0,0,0
41,41,41,15890,4,2136,2136.0,17,3,135000,135000.0,...,0,0,0,0,0,0,0,0,0,0
42,42,42,15907,4,1632,1632.0,89,7,10,10.0,...,0,0,0,0,0,0,0,0,0,0
43,43,43,15908,4,1998,1998.0,22,8,255000,255000.0,...,0,0,0,0,0,0,0,0,0,0
45,45,45,15916,4,1542,1542.0,50,2,225000,225000.0,...,0,0,0,0,0,0,0,0,0,0
46,46,46,15952,4,1260,1260.0,14,6,132000,132000.0,...,0,0,0,0,0,0,0,0,0,0
47,47,47,15952,4,584,584.0,44,5,240000,240000.0,...,0,0,0,0,0,0,0,0,0,0
48,48,48,15952,4,584,584.0,44,4,71000,71000.0,...,0,0,0,0,0,0,0,0,0,0
49,49,49,15954,4,1408,1408.0,62,10,142000,142000.0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66023,66023,66023,1343,4,2850,2850.0,57,8,870000,870000.0,...,0,0,0,0,0,0,0,0,0,0
66024,66024,66024,2287,4,2920,2920.0,15,11,845000,845000.0,...,0,0,0,0,0,0,0,0,0,0
66027,66027,66027,2319,4,4149,4149.0,33,12,1425000,1425000.0,...,0,0,0,0,0,0,0,0,0,0
66029,66029,66029,2319,4,4872,4872.0,35,9,2804340,2804340.0,...,0,0,0,0,0,0,0,0,0,0
66030,66030,66030,2327,4,3705,3705.0,41,10,1490000,1490000.0,...,0,0,0,0,0,0,0,0,0,0
66050,66050,66050,1238,4,5208,5208.0,62,4,410000,410000.0,...,0,0,0,0,0,0,0,0,0,0
66053,66053,66053,1298,4,3364,3364.0,71,11,850000,850000.0,...,0,0,0,0,0,0,0,0,0,0
66055,66055,66055,1299,4,2480,2480.0,35,11,1009645,1009645.0,...,0,0,0,0,0,0,0,0,0,0
66056,66056,66056,1299,4,5156,5156.0,52,11,980000,980000.0,...,0,0,0,0,0,0,0,0,0,0
66058,66058,66058,1307,4,4000,4000.0,43,2,1400000,1400000.0,...,0,0,0,0,0,0,0,0,0,0
66063,66063,66063,1315,4,5850,5850.0,48,4,145000,145000.0,...,0,0,0,0,0,0,0,0,0,0
66064,66064,66064,1315,4,5616,5616.0,52,4,350000,350000.0,...,0,0,0,0,0,0,0,0,0,0
66067,66067,66067,1317,4,9800,9800.0,74,7,3000000,3000000.0,...,0,0,0,0,0,0,0,0,0,0
66069,66069,66069,1321,4,3680,3680.0,158,12,1685000,1685000.0,...,0,0,0,0,0,0,0,0,0,0
66072,66072,66072,2313,4,3600,3600.0,55,3,910000,910000.0,...,0,0,0,0,0,0,0,0,0,0
66073,66073,66073,2313,4,3600,3600.0,56,12,950000,950000.0,...,0,0,0,0,0,0,0,0,0,0
66075,66075,66075,1297,4,41558,41558.0,17,12,13230900,13230900.0,...,0,0,0,0,0,0,0,0,0,0
66076,66076,66076,1315,4,38813,38813.0,78,12,12921574,12921574.0,...,0,0,0,0,0,0,0,0,0,0
66273,66273,66273,1202,4,4196,4196.0,1,7,1200000,1200000.0,...,0,0,0,0,0,0,0,0,0,0
66286,66286,66286,1300,4,5220,5220.0,26,11,5500000,5500000.0,...,0,0,0,0,0,0,0,0,0,0
66288,66288,66288,1194,4,20000,20000.0,12,8,7700000,7700000.0,...,0,0,0,0,0,0,0,0,0,0
66289,66289,66289,1224,4,3750,3750.0,7,1,1125000,1125000.0,...,0,0,0,0,0,0,0,0,0,0
66290,66290,66290,1294,4,4900,4900.0,73,9,2700000,2700000.0,...,0,0,0,0,0,0,0,0,0,0
66297,66297,66297,1161,4,6500,6500.0,89,1,2500000,2500000.0,...,0,0,0,0,0,0,0,0,0,0
66303,66303,66303,1321,4,4000,4000.0,43,11,2925000,2925000.0,...,0,0,0,0,0,0,0,0,0,0
66304,66304,66304,1322,4,4074,4074.0,39,4,2250000,2250000.0,...,0,0,0,0,0,0,0,0,0,0
66307,66307,66307,2287,4,14137,14137.0,1,12,1700000,1700000.0,...,0,0,0,0,0,0,0,0,0,0
66312,66312,66312,2287,4,8800,8800.0,10,12,1700000,1700000.0,...,0,0,0,0,0,0,0,0,0,0
66314,66314,66314,1199,4,18160,18160.0,32,1,6100000,6100000.0,...,0,0,0,0,0,0,0,0,0,0
66315,66315,66315,1215,4,6400,6400.0,11,1,2660000,2660000.0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
lm=LinearRegression()

In [42]:
X=pd.get_dummies(queens.neighborhood)

In [43]:
lm.fit(X,queens.sale_price_clean)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [44]:
print('Estimated Intercept Coefficient:' .format(lm.intercept_))

Estimated Intercept Coefficient: